.order {
  height: 850px;
  background-image: url('../assets/bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order__container {
  padding: 206px 0 0 0;
}

.order__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 780px;
  line-height: 3.6rem;
  color: rgba(62, 156, 220, 1);
}

.order__title span {
  color: black
}

.order__content {
  margin: 80px 0 0 0;
}

.order__subtitle {
  font-weight: 700;
  margin: 0 0 5px 0;
}

.order__description {
  font-weight: 400;
  margin: 0 0 3px 0;
}

.order__buttons-container {
  margin: 70px 0 0 0;
  max-width: 396px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 183px;
  height: 43px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(62, 156, 220, 1);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 0.8125rem;
  line-height: 0.975rem;
  font-weight: 400;
  text-transform: uppercase;
}

.font-lato {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.submit__subtitle {
  color: rgba(187, 187, 187, 1);
}