.submit {
  background-image: linear-gradient(rgba(16, 16, 29, 0.9), rgba(16, 16, 29, 0.9)), url('../../assets/png/bg-bottom.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 872px;
}

.submit__container {
  max-width: 1212px;
  padding: 80px 20px 0;
}

.submit__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.submit__title span{
  color: rgba(62, 156, 220, 1);
}

.submit__subtitle {
  color: rgba(187, 187, 187, 1);
  margin: 40px 0 0 0;
}

.submit__scheme {
  width: 100%;
  margin: 70px 0 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.points {
  width: 82%;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.points__container {
  max-width: 110px;
  margin: 0 auto;
  gap: 20px;
}

.points__container span{
  background: rgba(196, 196, 196, 1);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.scheme-item {
  width: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  transition: .5s;
  cursor: pointer;
}

.scheme-item__box {
  background-size: cover;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scheme-item:hover {
  transform: scale(1.2);
}

.scheme-item__text {
  font-size: 1rem;
  font-weight: 400;
  text-align: center
}

.form {
  width: 100%;
}

.submit__input-grid {
  width: 100%;
  margin: 70px 0 0 0;
  display: grid;
  gap: 30px;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "a b c"
    "d d e";
}

.dropdown {
  grid-area: a;
}

.input-email {
  grid-area: b;
}

.input-name {
  grid-area: c;
}

.input-range {
  grid-area: d;
}

.btn-attach-file {
  grid-area: e;
}

@media (max-width: 1150px) {
  .points__container {
    gap: 15px;
  }

  .points__container span:nth-child(even) {
    display: none;
  }
}

@media (max-width: 980px) {
  .submit {
    height: 1120px;
  }

  .submit__scheme {
    display: grid;
    gap: 20px;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .points__container span {
    display: none;
  }

  .submit__input-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "b c"
      "d d"
      "a e";
  }
}

@media (max-width: 720px) {
  .submit {
    height: 1300px;
  }

  .submit__scheme {
    display: grid;
    gap: 20px;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .submit {
    height: 1740px;
  }

  .submit__scheme {
    display: grid;
    gap: 20px;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .submit__input-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
  }
}

